body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  /* max-width: 100%; */
}

header {
  background-color: #151515;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: rgb(255, 255, 255);
  transition: color 0.2s ease-out 0s;
  font-size: 1rem;
  text-decoration: none;
  margin: 0px 0.5rem;
  padding: 12px;
}
a:hover {
  color: #932ed1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.bootcamp {
  flex: 1 1 300px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bootcamp img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  background-color: #f0f0f0; 
}

.box-1 h1 {
  font-size: 2em;
  text-align: center;
  color: brown;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 20px);  
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px 0;  
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  margin: 0 0 10px 0;
  font-size: 1.25em;
}

.card p {
  margin: 0;
  flex: 1; 
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}
